@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTAWESOME ICONS */

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

/* FONTAWESOME ICONS END */

html {
    scrollbar-color:  #EDFA8B #407056;
    scrollbar-width: thin;
    scroll-behavior: smooth;


    &:focus {
        outline: none;
    }

    &::-webkit-scrollbar {
        width: 11px;
    }

    &::-webkit-scrollbar-track {
        @apply bg-brand-1;
    }

    &::-webkit-scrollbar-thumb {
        @apply bg-brand-2 border-2 border-brand-1 rounded-md;
    }
}

html,
body {
    @apply p-0 m-0 bg-white;
    box-sizing: border-box;
}

body {
    @apply min-h-screen;
}

.pgc-container {
    @apply px-10;
}

#app-slot {
    @apply h-4/5;
}

/* NAVBAR */

section.navbar {
    @apply fixed top-0 left-0 z-50 w-full text-white bg-brand-1 py-5 flex justify-between;

    .brand {
        @apply text-xl;
    }

    nav {
        @apply flex space-x-20;

        .navigation,
        .auth-routes {
            @apply flex;

            li {
                @apply list-none;

                a.nav-link {
                    @apply text-white hover:text-brand-2 font-semibold;
                }

                &:not(:first-child) {
                    @apply ml-5;
                }
            }
        }
    }
}

/* NAVBAR END */

/* FOOTER  */
.footer {
    @apply mt-auto py-5 bg-brand-1 text-brand-2 flex justify-center;
}
/* FOOTER END */

/* WELCOME PAGE */

.welcome-page {
    /* HERO SECTION */

    section.hero {
        @apply relative h-screen bg-white;

        .slides {
            @apply relative overflow-hidden h-full w-full;

            .slide {
                @apply absolute top-0 left-0 h-full w-full opacity-0;
                background-color: #d8d8d6;
                transition: opacity 0.4s ease-in-out;

                .content {
                    @apply bg-white px-10 py-5 absolute z-10 opacity-0 shadow-sm;
                    bottom: 100px;
                    left: -600px;
                    width: 600px;
                    transition: all 0.7s ease-in-out 0.3s;

                    h1 {
                        @apply font-bold text-brand-1 text-4xl;
                    }

                    p {
                        @apply text-gray-700;
                    }

                    button {
                        @apply py-2 px-5 bg-brand-2 rounded-sm font-bold shadow-md border transition-all delay-75 border-transparent hover:border-brand-1 hover:shadow-xl cursor-pointer text-brand-1 mt-5;
                    }
                }

                &.current {
                    @apply opacity-100;

                    .content {
                        @apply opacity-100;
                        left: 2.5rem;
                    }
                }
            }
        }

        .buttons {
            button#prev,
            button#next {
                position: absolute;
                top: 50%;

                i {
                    @apply inline-block text-white shadow-sm text-5xl hover:text-brand-2;
                }
            }
            button#prev {
                left: 2.5rem;
            }

            button#next {
                position: absolute;
                right: 2.5rem;
            }
        }
    }

    /* HERO SECTION END */

    /* SERVICES SECTION */

    section.services {
        @apply bg-brand-6;

        .services-options {
            @apply pt-32 lg:pt-48 pb-16 lg:pb-32 px-5 lg:px-20 grid grid-cols-2 lg:grid-cols-3 gap-y-32 gap-x-10 lg:gap-10;

            .service {
                @apply px-5 py-10 shadow bg-white ;

                .service-image {
                    @apply h-16 lg:h-20  relative flex justify-center;

                    img {
                        @apply absolute -top-28 lg:-top-32 h-32 lg:h-40 h-32 lg:w-40 bg-gray-100 rounded-full flex justify-center items-center shadow;
                    }
                }

                .description {
                    h3 {
                        @apply text-gray-700 text-2xl font-extrabold;
                    }

                    p {
                        @apply my-4 text-gray-600;
                    }

                    a {
                        @apply text-brand-1  underline;
                    }
                }
            }
        }
    }

    /* SERVICES SECTION END */








    /* GETS STARTED SECTION  */



    section.how-to-get-started{

        @apply w-full px-20 py-24 flex justify-center items-center;

        .instructions-wrapper{
            @apply relative w-2/3;
            height: 250px;
            
            .how-to-sign-up{
                @apply absolute z-0 left-10 top-3 pt-5 pb-20 px-10  flex justify-between bg-brand-2;
                width: 700px;
                h3{
                    @apply  text-3xl text-brand-1 font-bold;
                }
    
                a{
                    @apply  px-10 py-3 bg-brand-1 text-xl text-brand-2 rounded-full;
                }
            }
    
            .steps{
                @apply absolute right-10 z-20 p-7 shadow bottom-3 bg-white grid grid-cols-5 gap-2;
                width: 700px;


                .step{
                    @apply flex flex-col items-center;

                    i{
                        @apply text-brand-7 text-2xl;
                    }
                    p{
                        @apply text-center text-brand-1 font-semibold;
                    }
                }
            }
        }

      
    }



    /* GETS STARTED SECTION  END */





    /* CONTACT / QUESTION SECTION */


    section.contact{
        @apply flex justify-center py-24 px-5 lg:px-20;

     

        form{
            @apply w-4/5 lg:w-2/3 flex justify-center space-x-10;

            .questions-lead{
                @apply  w-1/2;
    
                .title-box{
                    @apply py-5 lg:py-10 px-7 lg:px-14 bg-brand-7 w-full;
    
                    h1{
                        @apply text-brand-2 text-2xl font-bold;
                    }
    
                    h2{
                        @apply text-white text-xl font-semibold;
                    }
                }

                p{
                    @apply my-5 text-gray-700;
                }
    
                .input-group{
                    @apply flex flex-col ;
    
                    label{
                        @apply text-gray-900 text-lg font-semibold mb-1;
                    }
    
                    select{
                        @apply border outline-none focus:border-brand-7 p-2 rounded-md;
                    }
                }
            }

           .form-content{

            @apply  w-1/2;

            .input-group{
                @apply flex flex-col mb-3;

                label{
                    @apply text-gray-900 text-lg font-semibold mb-1;
                }

                input,textarea{
                    @apply border border-brand-1 outline-none focus:border-brand-7 p-2 rounded-md;
                }
            }

            button{
                @apply px-10 py-3 bg-brand-7 text-white mt-3 font-bold rounded-md;
            }
           }
        }
    }
    /* CONTACT / QUESTION SECTION END */





}
/* WELCOME PAGE END */
